<div class="add-button">
  <button (click)='addTask()'> Add Task</button>
</div>

<div>
  <div class="list-title">List</div>

  <div *ngFor='let task of taskList; let i = index' class="task">
    <div class="number"> 
      <span class="title">Task number: </span> 
      {{i +1}} 

      <span class="remove" >
        <button (click)='removeTask(i)'> X </button>
      </span>
    </div>
    
    <div>
      <span class="title">Title: </span> 
      <input [(ngModel)]="task.title" type="text">
    </div>
  
    <div>
      <span class="title">Description: </span>
      <input [(ngModel)]="task.description" type="text">
    </div>
  
  </div>
  
</div>

